@use '../../shared/styles/mixins' as media;

.footerWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  background: var(--dark-thirdary);
  // width: 100%;
  // max-width: 340px;
  padding: 12px;

  // border: 1px solid red;

  // @include media.respond-to('middle') {
  //   margin-left: var(--padding-horizontal-mobile);
  //   margin-right: var(--padding-horizontal-mobile);
  //   padding-left: var(--padding-horizontal-mobile);
  //   padding-right: var(--padding-horizontal-mobile);
  // }

  &__title {
    font: var(--font-xs-medium);
    color: var(--light-secondary);
    text-transform: uppercase;
    letter-spacing: 1.1px;
    opacity: 0.8;
  }
}
