.footer {
  display: flex;
  justify-content: center;
  height: 200px;
  background: var(--dark-secondary);

  &__container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: var(--width-xl);
  }
}
