@use '../../../shared/styles/mixins' as media;

.category {
  width: 100%;
  max-width: var(--width-xl);
  margin: 0 auto;
  padding-left: var(--padding-horizontal-desktop);
  padding-right: var(--padding-horizontal-desktop);
  padding-bottom: var(--padding-vertical-desktop);

  @include media.respond-to('middle') {
    padding-left: var(--padding-horizontal-mobile);
    padding-right: var(--padding-horizontal-mobile);
    padding-bottom: var(--padding-vertical-mobile);
  }
}
