@use '../../../shared/styles/mixins' as media;

.productExpiration {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font: var(--font-xs-regular);
  color: var(--text-thirdary);
  padding-top: var(--padding-vertical-desktop);

  @include media.respond-to('middle') {
    padding-bottom: var(--padding-vertical-desktop);
    padding-left: var(--padding-horizontal-mobile);
    padding-right: var(--padding-horizontal-mobile);
  }

  &__title {
    font: var(--font-s-medium);
    padding-left: 10px;
  }

  &__accent {
    color: var(--accent-primary);
  }

  &__text {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    // row-gap: 0;
    // border-left: 1px solid var(--border-primary);
    padding-left: var(--padding-horizontal-mobile);

    @include media.respond-to('middle') {
      flex-direction: column;
      gap: 0;
      // border-left: 0;
    }
  }
}
