@use '../../../shared/styles/mixins' as media;

.productExpiration {
  padding-top: var(--padding-vertical-desktop);

  @include media.respond-to('middle') {
    padding-left: var(--padding-horizontal-mobile);
    padding-right: var(--padding-horizontal-mobile);
  }

  &__article {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font: var(--font-xs-regular);
    color: var(--text-thirdary);
  }

  &__span {
    font: var(--font-s-medium);
    padding-left: 10px;
  }

  &__accent {
    color: var(--accent-primary);
  }

  &__text {
    border-left: 1px solid var(--border-primary);
    padding-left: 10px;
  }
}
