@use '../../../shared/styles/mixins' as media;

.allCategories {
  width: 100%;
  max-width: var(--width-xl);
  margin: 0 auto;
  padding-left: var(--padding-horizontal-desktop);
  padding-right: var(--padding-horizontal-desktop);

  // border: 1px solid red;

  @include media.respond-to('middle') {
    padding-left: 0;
    padding-right: 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
  }

  &__button {
    position: relative;
    display: flex;
    width: 100%;
    // width: 260px;
    height: 200px;
    border-radius: 15px;
    border: 1px solid var(--border-primary);
    overflow: hidden;
    
    
  }

  &__name {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    background: rgba(77,34,14, 0.4);
    font: var(--font-s-bold);
    color: var(--light-primary);
    padding: 10px 20px;
    z-index: var(--z-index-two);

    // border: 1px solid red;

  }
  &__image {
    width: 100%;
    object-fit: cover;
  }

}