@use '../../../shared/styles/mixins' as media;

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
  width: fit-content;
  text-decoration: none;

  @include media.respond-to('large') {
    gap: 10px;
  }

  &__icon {
    width: 44px;
    transition: 0.5s;

    @include media.respond-to('large') {
      width: 34px;
    }
  }

  &__iconFooter {
    width: 34px;
    transition: 0.5s;

    @include media.respond-to('middle') {
      width: 24px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font: var(--font-l-bold);
    color: var(--light-secondary);
    transition: 0.3s;

    @include media.respond-to('large') {
      font: var(--font-m-bold);
    }

    &_footer {
      font: var(--font-xs-bold);

      @include media.respond-to('large') {
        font: var(--font-xxs-bold);
      }
    }

  }

  &__span {
    font: var(--font-xs-medium);
  }

  &__spanFooter {
    font: var(--font-xs-regular); 
  }

  &:hover &__icon {
    transform: scale(1.2);
  }
  &:hover &__text {
    color: var(--light-primary);
  }
}
