@use '../../../shared/styles/mixins' as media;

.pageHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;

  border: 1px solid red;

  &__title {
    font: var(--font-xxl-bold);

    @include media.respond-to('middle') {
      font: var(--font-xl-bold);
    }
  }

  &__subtitle {
    font: var(--font-xxxs-regular);
    color: var(--text-secondary);
    text-align: center;
  }
}
