.productDescribe {
  display: flex;
  flex-direction: column;
  font: var(--font-xs-regular);
  color: var(--text-thirdary);
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border-primary);

  &__span {
    font: var(--font-xs-medium);
    color: var(--brown-thirdary);
    letter-spacing: 0.8px;
  }
}
