@use '../../shared/styles/mixins' as media;

.articleWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 15px;
  background: var(--bg-secondary);
  width: 100%;
  max-width: (--width-xl);
  margin: 0 auto;
  padding-top: var(--padding-vertical-mobile);
  padding-bottom: var(--padding-vertical-mobile);
  padding-left: var(--padding-horizontal-desktop);
  padding-right: var(--padding-horizontal-desktop);

  @include media.respond-to('middle') {
    // margin-left: var(--padding-horizontal-mobile);
    // margin-right: var(--padding-horizontal-mobile);
    padding-left: var(--padding-horizontal-mobile);
    padding-right: var(--padding-horizontal-mobile);
  }
}
