.headerConnect {
  display: flex;
  align-items: center;
  gap: 10px;

  &__link {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 32px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}
