@use '../../../shared/styles/mixins' as media;

.breadcrumbs {
  display: flex;
  width: 100%;
  font: var(--font-xxs-regular);
  color: var(--text-secondary);
  text-transform: lowercase;
  max-width: var(--width-xl);
  padding-top: var(--padding-vertical-mobile);
  padding-bottom: var(--padding-vertical-mobile);
  padding-left: var(--padding-horizontal-desktop);
  padding-right: var(--padding-horizontal-desktop);

  @include media.respond-to('middle') {
    padding-left: var(--padding-horizontal-mobile);
    padding-right: var(--padding-horizontal-mobile);
  }

  &__link {
    color: var(--link-primary);
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: var(--link-secondary);
    }
  }

  &__span {
    font-size: 16px;
  }
}
