@use '../../../shared/styles/mixins' as media;

.cooperation {
  width: 100%;
  max-width: var(--width-xl);
  margin: 0 auto;
  padding-left: var(--padding-horizontal-desktop);
  padding-right: var(--padding-horizontal-desktop);
  z-index: var(--z-index-two);

  @include media.respond-to('middle') {
    padding-left: 0;
    padding-right: 0;
  }
}