@use '../../shared/styles/mixins' as media;

.rootPage {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;

  &__main {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
}
