@use '../../../shared/styles/mixins' as media;

.priorityCard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  width: 100%;
  max-width: 260px;
  height: 74px;
  background: linear-gradient(
    45deg,
    var(--brown-primary),
    var(--light-primary)
  );
  padding: 6px 14px;
  border: 1px solid var(--border-primary);
  border-radius: 15px;
  transition: 0.3s;

  @include media.respond-to('middle') {
    width: 260px;
  }

  &__image {
    width: 52px;
  }

  &__title {
    display: flex;
    width: min-content;
    font: var(--font-xs-bold);
    color: var(--border-secondary);
    word-spacing: 100vw;
    letter-spacing: 0.2px;
  }

  &:hover {
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    -moz-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    @include media.respond-to('middle') {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}
