@use '../../../shared/styles/mixins' as media;

.headerNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid transparent;
    border-radius: 20px;
    font: var(--font-s-medium);
    color: var(--light-secondary);
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.3s;

    &:hover {
      border: 1px solid var(--brown-primary);
      color: var(--light-primary);
    }

    &_active {
      background: var(--light-secondary);
      color: var(--border-secondary);
      border: 1px solid transparent;
      cursor: auto;

      &:hover {
        color: var(--border-secondary);
      }
    }

    @include media.respond-to('large') {
      font: var(--font-xs-medium);
      padding: 4px 6px;
    }
  }
}
