@use '../../../shared/styles/mixins' as media;

.product {
  width: 100%;
  max-width: var(--width-xl);
  margin: 0 auto;
  padding-left: var(--padding-horizontal-desktop);
  padding-right: var(--padding-horizontal-desktop);

  @include media.respond-to('middle') {
    padding-left: 0;
    padding-right: 0;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include media.respond-to('middle') {
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 10px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;

    @include media.respond-to('middle') {
      border-radius: 0;
    }
  }

  &__description {
    display: flex;
    flex-direction: column; 
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-primary);
  }

  &__span {
    font: var(--font-xs-medium);
    color: var(--brown-thirdary);
    // color: var(--border-primary);
    // color: var(--text-secondary);
    letter-spacing: 0.8px;
    // text-transform: uppercase;
// text-align: right;
  }

  &__condition {
    padding-top: 15px;
  }

  // &__spanPrice {
  //   font: var(--font-xs-medium);
  //   color: var(--text-thirdary); 
  // }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-top: var(--padding-vertical-desktop);
    // padding-left: var(--padding-horizontal-desktop);
    // padding-right: var(--padding-horizontal-desktop);
    // border: 1px solid red;

    @include media.respond-to('middle') {
      grid-template-columns: 1fr;
      gap: 0;
      padding-top: 0;
      // padding-top: var(--padding-vertical-mobile);
      // padding-left: 0;
      // padding-right: 0;
    }
  }
}
