@use '../../../shared/styles/mixins' as media;

.footerNav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 6px;

  &__title {
    font: var(--font-xs-medium);
    color: var(--light-secondary);
    text-transform: uppercase;
    letter-spacing: 1.1px;
    padding-left: 10px;
    opacity: 0.8;
  }

  &__link {
    display: flex;
    gap: 15px;
    font: var(--font-xs-regular);
    color: var(--light-secondary);
    text-decoration: none;
    padding: 10px;
    opacity: 0.8;
    transition: 0.3s;

    &:hover {
      opacity: 1;
    }
  }

  &__navIcon {
    width: 20px;
  }
}
